.App {
  text-align: center;
  padding-top: 1vmax;
}

.rowAlignment{
  width:90%;
  margin:auto;
}

.detailslayout > .childlayout{
  display: flex;
  flex-direction: row;
}

.detailslayout > .childlayout > div{
  margin-top: 0.6vmax;
}

.detailslayout > .childlayout > div:last-child{
  margin-left: 0.6vmax;
}

.buttondesign{
  background-color: transparent;
  border: transparent;
}

.buttondesign:hover{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}